/*  Temporary Override of gvmagazine styles */
.chunkActions {
	width: 15.5rem;
}

.chunkActions {
	display: none;
}

.is-active .chunkActions {
	display: flex;
}

.ReactModal__Body--open {
	overflow: hidden;
	position: inherit;
}

.modal-overlay {
	z-index: 400;
}

ul.dropdown[role='menu'] {
	/* visibility: hidden; */
	display: none;
}

ul.dropdown[role='menu'].visible {
	/* visibility: visible; */
	display: flex;
	position: absolute;
}

/* Position defaults  */
.position-full {
	display: block;
	width: 100%;
	/* float: left; This breaks drag/drop */
	padding-right: 1.25rem;
	padding-left: 1.25rem;
}

@media print, screen and ( min-width: 40em ) {
	.position-full {
		width: 69.44443889%;
		margin-left: 15.277780555%;
		padding-right: 1.875rem;
		padding-left: 1.875rem;
	}
}
@media print, screen and ( min-width: 64em ) {
	.position-full {
		width: 55.55555611%;
		margin-left: 22.222221945%;
	}
}

.position-left {
	float: left;
	width: 40%;
	box-sizing: border-box;
	margin-right: 1.5em;
	clear: both;
}

.position-right {
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin-left: 1.5em;
	clear: both;
}

.position-full-page {
	clear: both;
	width: 100%;
}

.position-offset-full {
	padding: 1em 0;
	width: 79.75%;
	margin: 0 10.125%;
}

.position-offset-left {
	float: left;
	width: 40%;
	box-sizing: border-box;
	margin-right: 1.5em;
	clear: both;
	margin-left: 10.125%;
}

.position-offset-right {
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin-left: 1.5em;
	clear: both;
	margin-right: 10.125%;
}
