/*  Temporary Override of gvmagazine styles */
.chunkActions {
	width: 15.5rem;
}

.chunkActions {
	display: none;
}

.active .chunkActions {
	display: flex;
}

.ReactModal__Body--open {
	overflow: hidden;
	position: inherit;
}

.modal-overlay {
	z-index: 400;
}

ul.dropdown[role='menu'] {
	/* visibility: hidden; */
	display: none;
}

ul.dropdown[role='menu'].visible {
	/* visibility: visible; */
	display: flex;
	position: absolute;
}

/* Position defaults  */
.position-full {
	display: block;
	width: 100%;
	/* float: left; This breaks drag/drop */
	padding-right: 1.25rem;
	padding-left: 1.25rem;
}

@media print, screen and ( min-width: 40em ) {
	.position-full {
		width: 69.44443889%;
		margin-left: 15.277780555%;
		padding-right: 1.875rem;
		padding-left: 1.875rem;
	}
}
@media print, screen and ( min-width: 64em ) {
	.position-full {
		width: 55.55555611%;
		margin-left: 22.222221945%;
	}
}

.position-left {
	float: left;
	width: 40%;
	box-sizing: border-box;
	margin-right: 1.5em;
	clear: both;
}

.position-right {
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin-left: 1.5em;
	clear: both;
}

.position-full-page {
	clear: both;
	width: 100%;
}

.position-offset-full {
	padding: 1em 0;
	width: 79.75%;
	margin: 0 10.125%;
}

.position-offset-left {
	float: left;
	width: 40%;
	box-sizing: border-box;
	margin-right: 1.5em;
	clear: both;
	margin-left: 10.125%;
}

.position-offset-right {
	float: right;
	width: 40%;
	box-sizing: border-box;
	margin-left: 1.5em;
	clear: both;
	margin-right: 10.125%;
}

/* 
Old basic styles
Modal styles
.ReactModal__Body--open {
	overflow: hidden;
}

.modal {
	position: relative;
	margin: 20%;
	margin-top: 3%;
	border: 1px solid rgb( 204, 204, 204 );
	background: rgb( 255, 255, 255 );
	overflow: auto;
	border-radius: 4px;
	outline: none;
	padding: 20px;
	max-height: 85vh;
}

.modal-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba( 0, 0, 0, 0.75 );
}

.modal .button-group {
	margin-top: 0.75em;
}

.sr-only {
	border: 0 !important;
	clip: rect( 1px, 1px, 1px, 1px ) !important;
	-webkit-clip-path: inset( 50% ) !important;
	clip-path: inset( 50% ) !important; 
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
.help-text {
	display: block;
} */
